@font-face {
    font-family: '../fonts/Old English Text MT';
    src: url('../fonts/OldEnglishTextMT.woff2') format('woff2'),
    url('../fonts/OldEnglishTextMT.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*body , html{*/
    /*min-height: 100%;width: 100%;font-size: 14px; font-family: 'Poppins', sans-serif;height: 100vh;background: #f7f7f7;*/
/*}*/
.welcome-page.quiz-container{z-index: 1;}
.quiz-container{
    /*z-index: -1;*/
}
.quiz-container .card-body{
    background: #f7f7f7;
    padding-bottom: 70px;
}
.quiz-container a{
    color: #000;
    text-decoration: none !important;
}
.quiz-container h1 {
    font-family:'Gabriola', serif;
    text-align: center;
}
.quiz-container h2 {
    font-family:'Gabriola', serif;
    text-align: center;
}
.quiz-container ul {
    list-style: none;
}
.quiz-container .img-responsive{
    width: 100%;max-width: 100%;
}
/* label{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: #fff;
    font-weight: normal;
    border: none;
    margin-bottom: 10px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    background: #0000001a;
    transition: all .3s;
    cursor: pointer;
} */
.quiz-container li {
    font-size: 1.3em;
    color: #000;
    font-weight: normal;
    border: none;
    margin-bottom: 10px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    background: #f7f7f7;
    transition: all .3s;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
}
.quiz-container li:hover{
    box-shadow: 0px 2px 8px -7px #000000;
}
.quiz-container input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
    margin-right: 10px;
}
.quiz-container p {
    font-family:'Gabriola', serif;
}
/* Quiz Classes */
.quiz-container .heading{
    font-weight: bold;
}
.quiz-container .normal-font-weight{
    font-weight: normal;
}
.quiz-container .main-box-wrapper{
    display: flex;align-items: center;height: 100%;
}
.quiz-container .inner-wrapper{
    width: 100%;
}
.quiz-container .text-blue{
    color: #24abe2;
}
.quiz-container .text-yellow{
    color: #FF9800;
}
/* .inner-wrapper .content{
    margin: 0 auto;
} */
.quiz-container .inner-wrapper .heading-2{
    font-family: 'Gabriola', serif;
    font-size: 2rem;font-weight: bold;
}
.quiz-container .quizContainer {
    background-color: #fff;
    width: 70%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 45px -25px #ababab;
    padding: 50px;
}
.quiz-container .quizcontainer #quiz1
{
    text-shadow:1px 1px 2px orange;
    font-family:"Georgia", Arial, sans-serif;
}
/* .nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
    font-size:25px;
    font-weight:bold;
    padding-top: 5px;
    float:right;
    right:30%;
} */

.quiz-container .preButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    /*width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    /*clear: both;*/
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
    font-size:25px;
    font-weight:bold;
    padding-top: 5px;
    float:left;
    left:30%;
}

.quiz-container .question {
    font-size: 1.5em;
    width: auto;
    margin: auto;
    background-color: #24abe2;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    margin-top: 130px;
}
.quiz-container .quizMessage {
    background-color: rgba(240, 52, 52, .8);
    border-radius: 0;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gabriola', serif;
    color: #fff;
    position: absolute;
    top: 111px;
    left: 40%;
}
.quiz-container .choiceList {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    padding-right: 40px;
}
.quiz-container .result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    color:green;
    text-align: center;
    font-size:25px;
    font-family:'Verdana', serif;
    font-weight:bold;
    position:absolute;
    top:80%;
    left:30%;
}
.quiz-container .inner-wrapper .btn-primary {
    min-width: 200px;font-size: 16px;font-weight: 500;
}
.quiz-container .btn-primary {
    color: #fff;
    background-color: #036685;
    border-color: #036685;
    border-radius: 0;
}
.quiz-container .btn-primary:hover {
    color: #fff;
    background-color: #02455a;
    border-color: #02455a;
}
.quiz-container .timer{
    color: #909090;
    position: absolute;
    left: 81%;
    top: 0%;
    font-size: 20px;
    text-align: center;
}
.quiz-container input[type="radio"]:checked,
.quiz-container input[type="radio"]:not(:checked) {
    position: absolute;
}
.quiz-container input[type="radio"]:checked + label,
.quiz-container input[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    margin-bottom: 0;
}
.quiz-container input[type="radio"]:checked + label:before,
.quiz-container input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.quiz-container input[type="radio"]:checked + label:after,
.quiz-container input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #24abe2;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.quiz-container input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.quiz-container input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.quiz-container input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.quiz-container .form-control{
    border-radius: 0;
}
.quiz-container .close{
    position: absolute;
    right: -18px;
    top: -29px;
    color: #fff;
    border: 1px solid #fff !important;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    opacity: 1;
}
.quiz-container table.dataTable thead th, .quiz-container table.dataTable thead td{
    border-bottom: none;
}
.quiz-container table.dataTable.no-footer{
    border-bottom: 1px solid #dee2e6;
}
.quiz-container #usersTable_wrapper{
    margin-top: 20px;
}
.quiz-container #usersTable_length label select{
    border: 1px solid #dee2e6;background:#f7f7f7;margin: 0 10px;
}
.quiz-container #usersTable_length> label{
    text-transform: capitalize;
}
.quiz-container .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    background: #f7f7f7;
    border: 1px solid #dee2e6;
    padding-left: 10px;
}
.quiz-container .inner-wrapper .quiz-form .btn-primary{
    min-width: 189px;
}
.quiz-container .table thead >tr{
    background: #f7f7f7;
}
.quiz-container .dataTables_wrapper .dataTables_paginate .paginate_button.current, .quiz-container .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #f7f7f7;border: 1px solid #dee2e6;padding: 1px 20px;
}
.quiz-container table.dataTable thead th, table.dataTable thead td{
    padding: 8px 10px;
}
#iTimeShow{display: block;}
#congrats-modal , #loser-modal{color: #fff;}
.modal-backdrop.show {opacity: 0.8 !important;}
.agent-img-large{height: 150px;width:150px;background-size: cover;border-radius: 100%;overflow: hidden;margin: 0 auto;box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 10px;}
.agent-img-large img{width: 100%;}
#congrats-modal .modal-dialog , #loser-modal .modal-dialog {
    max-width: 800px;;
}
#congrats-modal .agent-name{color: #fff;margin-bottom: 20px;font-size: 22px;}
.congrats {
    text-align: center;
    margin: 0 auto;
}

.congrats h1 {
    font-size: 50px;
    font-family: 'Old English Text MT';
    cursor: pointer;
    color: #24abe2;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 20px;
}
.loser h1 {
    font-size: 50px;
    font-family: 'Old English Text MT';
    cursor: pointer;
    color: #24abe2;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 20px;
}

.blob {
    height: 50px;
    width: 50px;
    color: #ffcc00;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
    display: none;
}
.quiz-container canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    position: absolute;
}


.modal.fade{
    opacity:1;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}
#congrats-modal .modal-content , #loser-modal .modal-content{
    border: none;
}
#congrats-modal .modal-content img ,   #loser-modal .modal-content img{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.close:focus, .close:hover{
    background: #fff;opacity: 1;
}
.modal-top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}
.certicate-img-wrapper{
    position: relative;
}
.student-name {
    position: absolute;
    top: -11px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #434343;
    left: 269px;
    font-weight: 600;
    font-size: 20px;
}
.course-name {
    position: absolute;
    top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #434343;
    left: 269px;
    font-weight: 600;
    font-size: 20px;
}
.actionBar{
    text-align: center;
}
ul.anchor{
    display: none !important;
}
.marks-text{
    background: #f39c12;
    color: #fff;
    height: 200px;
    width: 200px;
    margin: 30px auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Old English Text MT';
}
.certicate-img-wrapper h2{
    color: #24abe2;
    font-size: 50px;
    margin-bottom: -20px;
    font-weight: 600;
    margin-top: 20px;
}
.course_name_wrapper{color: #fff;border-radius: 5px;position: relative;overflow: hidden;text-align: center;color: #fff;font-weight: 600;transition: all .5s;
}
.course_name_wrapper .inner-wrapper{padding: 30px 20px;}
.course_name_wrapper span{font-size: 24px;}
.course_name_wrapper a{color: #fff;transition: all 5s;}
.course_name_wrapper a:hover{text-decoration: none;}
.course_name_wrapper a i{
    position: absolute;right: 10px;top: 10px;font-size: 26px;opacity: 0;
}
.course_name_wrapper:hover.course_name_wrapper a i{opacity: 1;}
.capital-alphabet{
    position: absolute;
    left: -7px;
    font-size: 131px !important;
    top: -58px;
    font-weight: bold;
    color: rgba(0,0,0,.1);
}
.bg-aqua{background-color: #00c0ef !important
}
.bg-yellow{background-color: #f39c12 !important
}
.bg-green{
    background-color: #00a65a !important;
}
.e-capital-alphabet{
    font-size: 136px !important;
    top: -63px;
    left: -10px;
}
.a-capital-alphabet{
    top: -62px;
    font-size: 135px !important;
    left: -1px;
}
.result_wrapper{
    background: #f7f7f7;border-radius: 5px;width: 50%;margin: 0 auto;font-size: 30px;font-weight: 600;
}
.result_wrapper .points{
    width: 50%;text-align: center;
}
.result_wrapper .view_certificate{
    width: 50%;text-align: center;
}
.result_wrapper_inner{
    display: flex;padding: 20px;
}



/* End of Quiz Classes */
